@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* navbar css*/
.navbar {
    background-color: #41454c98;
    display: flex;
    justify-content: space-between; /* This will make Jihanname and navelements share the space */
    align-items: center; /* Vertically align the items */
    padding: 10px; /* Adjust the padding as needed */
    width: 100vw;
}

.jihane{
    flex: 1;
}
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.nav-list li {
    padding: 0 10px;
}

.Jihanname {
    color: white; /* Color for Jihan Shamas */
    margin: 0; /* Remove default margin for h1 */
}
.navelements{
    text-decoration: none;
    color:rgb(45, 44, 44);
    font-size: 18px;
}
a:hover {
    color: aqua;
  }

/* about main div*/
.aboutmain {
    width: auto;
    height: auto;
    background:  linear-gradient(-45deg, #222831 , #222831a9);
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Add this to hide potential overflow */

}
.downloadcv{
border-radius: 80px 80px;
border-color: aqua;
border-radius: 80px 80px;
width: 200px;
height: 40px;
background:  linear-gradient(190deg, #222831 51%, #4a5668 100%); 
 display: flex;
color: #AAA9A8;
font-size: 24px;
justify-content: center;
margin-top: 1%;
margin-left: 12%;
margin-bottom: 25px;
}

.imgcontainer{
    margin-bottom: 15px;
    box-shadow: -12px -12px 2px 1px rgba(150, 150, 151, 0.2);

    
}

.aboutdiv1 {
    width: 33%;
        flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.aboutdiv2 {
    flex: 2;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */

}
.aboutdiv2 .background {
    text-align: justify;
    margin: auto;
    padding: 10px;
}
.textdesign,.background{
    margin-top: 10%;
}
.textdesign {
    color: #AAA9A8;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background {
    background-color:  #41454c98 ;
    text-align: left;
    width: 80%;
    height: 300px;
    border-radius: 80px 80px;
}

.imgcontainer {
    width: 159px;
    height: 220px;
}

.picture {
    width: 190px;
    height: 220px;
}
.logo2{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


@media screen and (max-width: 768px) {
   

   .bgcontact2{
    justify-content: center;
    text-align: center;
    align-items: center ;
   }

    .aboutmain {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:center;
        align-items: center;
    }

    .aboutdiv1 {
     flex: 1;
    }

    .aboutdiv2 {
flex: 1;    }


.background {
    text-align: left;
    width: 50%;
    height: auto;
    border-radius: 80px 80px;
}
.downloadcv, .background{
    margin-bottom: 20%;
}


.navbar {
    text-align: center;
    width: 100vw;

}



.navelements {
    display: block;
    padding: 10px 0;
}

/* Hamburger Menu Icon Styles */
.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px auto;
}

.nav-list {
    display: none;
    flex-direction: column; /* Stack the links vertically */
    background-color:  #AAA9A8;
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    width:auto;
}

.show .nav-list {
    display: flex; /* Show the nav links when .show class is applied */
    flex-direction: column; /* Stack the links vertically */
}

}