html {
  scroll-behavior: smooth;
}



/* navbar css*/
.navbar {
  background-color: #41454c98;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  position:relative;
  top: 50%;
}

.jihane{
  flex: 1;
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
}

.nav-list li {
  padding: 0 10px;
}

.Jihanname {
  color: white; 
  margin: 0; 
}
.navelements{
  text-decoration: none;
  color:#AAA9A8;
  font-size: 18px;
}
a:hover {
  color: aqua;
}

/* about main div*/
.aboutmain {
  margin-bottom: 10%;
  background:  linear-gradient(90deg, #222831 51%, #222831 100%); 
  display: flex;
  justify-content: space-between;
  overflow: hidden; 
  position:relative;
  top: 50%;
}

.downloadcv {

  margin-left: 12%;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #68E0CF;
  width: 150px;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.downloadcv:hover,
.downloadcv:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.downloadcv:active {
  background: var(--color);
  color: #fff;
}




.imgcontainer{
  margin-bottom: 15px;
  box-shadow: -12px -12px 2px 1px rgba(150, 150, 151, 0.2);

  
}

.aboutdiv1 {
  width: 33%;
      flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.aboutdiv2 {
  flex: 2;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  align-content: center;
  text-align: center; 

}
.aboutdiv2 .background {
  text-align: center;
  margin: auto;
}
.textdesign,.background{
  margin-top: 10%;
}
.textdesign {
  color: #AAA9A8;
  font-size: 21px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: left; 
  margin-left:6%;
  margin-right: 6%;
}

.background {
  background-color:  #41454c98 ;
  text-align: left;
  width: 80%;
  height: 300px;
  border-radius: 80px 80px;
}

.imgcontainer {
  width: 159px;
  height: 220px;
  max-width: 100%
}

.picture {
  width: 190px;
  height: 220px;
}
.logo2{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #68E0CF;
}


@media screen and (max-width: 768px) {
 

 

  .aboutmain {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content:center;
      align-items: center;
  }

  .aboutdiv1 {
   flex: 1;
  }

  .aboutdiv2 {
flex: 1;    }


.background {
  text-align: left;
  width: 50%;
  height: auto;
  border-radius: 80px 80px;
}
.downloadcv, .background{
  margin-bottom: 20%;
}


.navbar {
  text-align: center;
}



.navelements {
  display: block;
  padding: 10px 0;
  color: #222831;
}

/* Hamburger Menu Icon Styles */
.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px auto;
}

.nav-list {
  display: none;
  flex-direction: column; 
  background-color:  #AAA9A8;
  position: absolute;
  top: 60px; 
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  width:auto;
}

.show .nav-list {
  display: flex; 
  flex-direction: column; 
}

}


@media screen and (min-width: 700px) and (max-width: 1200px) {
  .navbar {
    padding: 5px; 
  }

  .nav-list li {
    padding: 0 8px; 
  }

  .downloadcv {
    width: 180px; 
    height: 35px;
    font-size: 20px; 
    margin-top: 0; 
    margin-left: 10%; 
  }

  .imgcontainer {
    width: 120px; 
    height: 165px; 
  }

  .picture {
    width: 140px; 
    height: 165px; 
  }

  .textdesign {
    font-size: 18px; 
    margin-left: 10%; 
    margin-right: 10%; 
  }

  .background {
    height: 250px; 
  }

}



/*projects css*/

.containerproject {
  height: fit-content;
  position:relative;
  top: 50%;
  background: linear-gradient(70deg, #222831 51%, #4a5668 100%);
}

.project1 {

color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 80px 80px;
  margin-left: 4%;
  margin-right: 4%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.sizeimg {
  width: 220px;
  height: 170px;
  border-radius: 50px 50px;

}

.project {
  flex: 1;
  color: white;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}


.project2 {

  width: 1000px;
  height: 200px;
  border-radius: 80px 80px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff80;
  margin-left: 8%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project3 {
  width: 1000px;
  height: 200px;
  border-radius: 80px 80px;
  padding: 20px;
  margin: 10px;
  background-color: #D9D9D9;
  margin-left: 8%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.content1{
  display: flex;
  flex-direction: column;
}
.project{
  flex:1;
}
.project-container{
  flex: 1;
}

.project,.project-container{
  margin-bottom: 3%;
}
.project1,
.project2,
.project3 {
  margin-bottom: 1%;

}
.project2,.project3{
  margin-bottom: 0;
}

.projectimg {
  margin-right: 30px;
  margin-left: 15px;
}
.project-description {
  color:rgba(255, 255, 255, 0.546);
  font-size: 16px;
}

@media (max-width: 700px) {
  .containerproject {
      height: auto;
  }

  .project1, .project2, .project3 {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  }

  .sizeimg {
      margin: 0; 
  }

  .sizeimg {
      width: 200px;
      height: 120px;
      border-radius: 20px 20px;
      margin-bottom: 20%;
      margin-top:20% ;
  
  }
  .project1,.project3{


      width: 300px;
      height: fit-content;
      border-radius: 80px 80px;
      display: flex;
      justify-content: center;
      align-items: center;

  
  }
      .containerproject {
          height: auto;
          background: linear-gradient(70deg, #222831 51%, #4a5668 100%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
      }

  
  .project2 {

      width: 300px;
      height: fit-content;
      border-radius: 80px 80px;
      
      background-color: #ffffff80;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  .project3{
      width: 300px;
      height: fit-content;
      border-radius: 80px 80px;
      
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
  
  

@media (min-width:500px)and(max-width: 750px) {
  .containerproject {
          height: auto;
          justify-content: center;
          align-items: center;
          padding: 20px;
      }
      .project1 {


          width: 700px;
          height: 200px;
          border-radius: 80px 80px;
          margin-left: 2%;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .sizeimg {
          width: 220px;
          height: 170px;
          border-radius: 50px 50px;
      
      }
      
      .project {
          flex: 1;
          color: white;
          font-size: 20px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
      
      }
      
      
      .project2 {
      
          width: 1000px;
          height: 200px;
          border-radius: 80px 80px;
          padding: 20px;
          /* Add padding to create space inside the border */
          margin: 10px;
          /* Add margin for spacing between divs */
          background-color: #ffffff80;
          margin-left: 8%;
          padding: 20px;
          /* Add padding to create space inside the border */
          display: flex;
          justify-content: center;
          align-items: center;
      
      }
      
      .project3 {
        width: 700px;
        height: 200px;
        border-radius: 80px 80px;
        margin-left: 2%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;

      
      }
      
      
      .project1,
      .project2
      {
          margin-bottom: 2%;
      
      }
      .project3 {
        margin-bottom: 2%;
    
    }
      
      .projectimg {
          margin-right: 30px;
          margin-left: 15px;
      }
      
  

  }


  /*CONTACT CSS*/
  .contactmain {
    background: linear-gradient(190deg, #222831 51%, #4a5668 100%);
    
    position:relative;
    top: 50%;
}
.TITLE{
  position:relative;
  top: 50%;
}
.contactmain1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.line-input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #f9f4f4;
    border-bottom: 2px solid#68E0CF;
    color: #AAA9A8;
    font-size: 24px;
}

.c {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid #68E0CF;
    padding: 20px;
    margin: 10px;
    width: 1000px;
    height: 500px;
    border-radius: 80px 80px;
}

.buttonsubmit {

    border-color: #68E0CF;
    border-radius: 80px 80px;
    width: 250px;
    height: 40px;
    background: #68E0CF;
    display: flex;
    color: #55524ff7;
    font-size: 24px;
    justify-content: center;
    cursor: pointer;



}


/*part 2 of the div*/
.contact2 {
    flex: 1;

}

.bgcontact2 {
    background-color: #d9d9d923;
    width: 350px;
    height: 450px;
    border-radius: 80px 80px;
    margin-left: 10%;
    margin-top: 3%;

}


/*contact info*/
.contactmain{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.TITLE{
   position:relative;
    top: 50%;
}
.bgcontact2 {
    padding: 20px;

}

.n {
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;

}

a:hover {
    color: #68E0CF;
}

.logo {
    width: 40px;
    height: 40px;
}


.center-content {
    text-align: center;
}

.link1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 5%;

}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo1 {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    color: #68E0CF;
}
.title{ position:relative;
  top: 50%;
}
.downloadcv1 {

  justify-content: center;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #68E0CF;
  width: 200px;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.downloadcv1:hover,
.downloadcv1:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.downloadcv1:active {
  background: var(--color);
  color: #fff;
}
@media screen and (max-width: 768px) {
    .c {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #68E0CF;
        padding: 3%;
        width: auto;
        height: auto;
       
        border-radius: 80px 80px;
        text-align: center;
    }
.contactmain{
  position:relative;
  top: 50%;
  left: 50%;

}
    .contactmain1 {
        flex: 1;
        
    }
    .TITLE{
      position:relative;
      top: 50%;
    }
   

    .contact2 {
        flex: 1;
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    h3 {
        margin-left: 0;
        text-align: center;
    }

    .line-input {
        margin-top: 3%;
        width: 80%;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 14px;
    }

    .buttonsubmit {
        width: 50%;
        font-size: medium;
        align-items: center;
    }

    .bgcontact2 {
        text-align: center;

    }

    h2 {
        font-size: 28px;
    }

    h4 {
        font-size: 18px;
        line-height: 1.5;
    }

    .link1 {
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
        margin-left: 20%;
    }

    /* Add spacing between the social links */
    .n {
        margin-left: 5px;
        font-size: 16px;
    }

    .title {
      text-align: left;
    }

}